<app-header></app-header>

<div>
    <div class="p-5 bg-body-tertiary">
        <div class="container-fluid py-5">
            <h1 class="text-body-emphasis">Title</h1>
            <p class="col-lg-8 lead">
                Bacon ipsum dolor amet tenderloin pancetta kevin chicken t-bone. T-bone sirloin kevin ground round
                jerky jowl pastrami fatback leberkas beef prosciutto boudin pork pancetta. Flank hamburger pig beef
                jowl, boudin drumstick. Tail tri-tip burgdoggen filet mignon capicola. Leberkas andouille fatback
                corned beef capicola beef sausage beef ribs, prosciutto salami burgdoggen filet mignon pig tongue
                landjaeger.
            </p>
        </div>
    </div>
</div>

<div class="container">
    <h5>Section</h5>
    <p>
        Bacon ipsum dolor amet leberkas kevin hamburger meatloaf. Pork belly pancetta capicola tongue, jerky leberkas
        alcatra beef ribeye biltong pastrami drumstick ground round bacon. Kevin doner strip steak tenderloin tongue.
        Burgdoggen ribeye andouille hamburger meatloaf, jerky pancetta tenderloin brisket sausage spare ribs shankle
        picanha.

        Porchetta kevin cupim buffalo. Cow tongue doner, bacon jerky shank pancetta beef ribs turkey pork belly biltong
        buffalo. Short loin frankfurter shoulder, turkey ribeye pork chop tongue chicken boudin ham spare ribs cupim
        venison drumstick. Andouille sirloin brisket short ribs.

        Meatloaf chislic beef ribs, shoulder jerky swine leberkas strip steak tail rump landjaeger. Kielbasa short loin
        landjaeger, tenderloin cupim ham hock frankfurter kevin picanha biltong hamburger pastrami. Tongue boudin
        pastrami burgdoggen fatback, ball tip pork filet mignon. Drumstick cow sausage, meatloaf bacon beef ribs t-bone
        beef pork chop shoulder andouille picanha porchetta. Shankle sausage doner, swine landjaeger rump chuck ball tip
        chislic.

        Venison hamburger meatball, frankfurter pastrami shankle filet mignon pork short ribs jerky alcatra. Chislic
        pork chop strip steak pork, landjaeger buffalo hamburger. Prosciutto hamburger picanha meatloaf, bresaola short
        loin tail. Sirloin turkey corned beef ham hock frankfurter beef ribs meatloaf chislic tenderloin ball tip
        porchetta bacon fatback shoulder meatball.

        Tongue short loin spare ribs porchetta tail pork chop venison, turducken landjaeger meatloaf doner alcatra
        picanha. Drumstick strip steak short ribs beef ribs, turducken chicken pastrami. Pork chislic spare ribs ribeye.
        Pork loin short loin ball tip t-bone chuck andouille. Flank kielbasa landjaeger doner swine beef ground round
        biltong leberkas chislic shankle pork belly filet mignon hamburger fatback.
    </p>
</div>

<app-footer></app-footer>